
<h3>Home</h3>
<p> Welcome to the home of <%= @owner.name %></p>
<p> I was born on <%= @owner.birthdate %></p>
<!-- <p> Only <%=@owner.countdown%> days until my birthday</p> -->

<% if @owner.birthday == @today %>
	
	<p> "HAPPY BIRTHDAY!"</p>
	
<% else @owner.birthday != Date.today %>

	<p> Only <%=@owner.countdown%> days until my birthday</p>

<% end%>
	

